# Dependencies
node_modules/

# Next.js
website/.next/
website/out/

# Build
website/.turbo/

# Misc
.DS_Store
*.pem
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# CI build artifacts
in/
out/
website/node_modules/
